.main{
   width:100%;
   height:3000px;
   background-color:#020424
}
.q1{
    text-align: center;
    font-weight: bolder;
    font-family: 'Alfa Slab One', cursive
}
.box{
    width:200px;
    height:54px;
    background-color: black;
    margin-left: 450px;
    color:white;
    text-align: center;
    font-weight: bolder;
     font-family: 'Russo One', sans-serif;
     transition: transform .2s;
    
}
.box:hover{
    transform:scale(1.5);
    color:yellow;
}


.j1{
    width:350px;
    height:200px;
  background-color:white;
    margin-left: 10px;
    margin-top: 50px;
}
.j2{
    width:350px;
    height:200px;
    background-color: rgb(18, 10, 10);
    margin-left: 360px;
    margin-top: -200px;
    
}
.j2 p{
    margin-left: 10px;
}
.j3{
    width:350px;
    height:250px;
    background-color:crimson;
    margin-left: 710px;
    margin-top: -225px;
}
.j3 img{
  margin-left: 100px;
}
.j3 p{
    font-family: 'Akronim', cursive;
}



/* buy button */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 100px;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }


  .image{
    width:400px;
    height:300px;
    background-color: white;
    margin-top: 50px;
    margin-left: 100px;
  }
  .para{
    width:400px;
    height:100px;
    margin-left: 600px;
    margin-top: -300px;
    color: springgreen;
  }
  .z1{
    margin-top: 100px;
  }

#end{
    width:100%;
    height:300px;
    background-color: wheat;
    margin-top: 280px;
}
#end h3{
    position: absolute;
    margin-top: -230px;
    margin-left: 100px;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
}


/* SUBSCRIBE */


.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
 
  font-weight: 700;
  margin-bottom: 10px;
 
}

.section-header p {
 
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight:bolder;
  color: #9195a2;
  margin-top: 100px;
  margin-right: 80px;
}
.subscribe {
    padding: 25vh 0;
    background: url(https://a-static.besthdwallpaper.com/spider-man-in-frount-of-red-wall-wallpaper-1280x768-101462_13.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin-top: 300PX;
    min-height: 100vh;
}

.subscribe:before {
  content: "";
  
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.subscribe .section-header h2,
.subscribe p {
  color: #fff;
}

.subscribe input {
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0;
  padding: 9px 20px;
  border-radius: 50px;
  font-size: 14px;
}

.subscribe button {
  border: 0;
  padding: 9px 25px;
  cursor: pointer;
  background: #f82249;
  color: #fff;
  transition: all 0.3s ease;
  outline: none;
  font-size: 14px;
  border-radius: 50px;
}

.subscribe button:hover {
  background: #e0072f;
}

@media only screen and (min-width: 768px) {
  .subscribe input {
    min-width: 400px;
}

}